# API Configuration
VITE_API_BASE_URL=http://localhost:8080

# API Version
VITE_API_VERSION=v1

# Microservices URLs
VITE_ORIGINACION_SERVICE_URL=http://localhost:8080
VITE_VEHICULOS_SERVICE_URL=http://localhost:8080
VITE_FORMALIZACION_SERVICE_URL=http://localhost:8080
VITE_GENERAL_SERVICE_URL=http://localhost:8080
VITE_CLIENTES_SERVICE_URL=http://localhost:8080
VITE_CUENTAS_CONFIG_SERVICE_URL=http://localhost:8080
VITE_CUENTAS_TRANS_SERVICE_URL=http://localhost:8085
VITE_TRANSACCIONES_SERVICE_URL=http://localhost:8085
VITE_CATALOG_SERVICE_URL=http://localhost:8080
VITE_DOCUMENT_SERVICE_URL=http://localhost:8080
